{% extends 'base.html.twig' %}

{% block title %}Experience Forms{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('build/experienceForm.css') }}" />
{% endblock %}

{% block body %}

    {% include 'flash_messages.html.twig' %}

    {#   Your codes, full HTML goes here        #}

    {#Your css file can be found in public/build/experienceForm.css  #}
    {#There you can put all of the styles#}


    <p class="red-color">Esisisisis</p>


{% endblock %}
